// scss全局变量
// 定义项目主题颜色

// 定义左侧菜单宽度
$base-menu-width: 260px;
// 定义左侧菜单背景颜色
$base-menu-background: #001529;
// 定义左侧菜单折叠后的宽度
$base-menu-mini-width: 50px;
// 定义顶部菜单高度
$base-tabbar-height: 50px;
// 定义菜单logo的高度
$base-menu-logo-height:50px;
// 定义菜单logo旁边的字体大小
$base-logo-title-fontSize:22px;